
<div class="welcome-container text-center py-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
<img src="assets/mai-logo.png" alt="mai-logo" class="mai-logo mb-3">
    <p class="fs-5">¡Hola! Soy Mai 🌞 Estoy aprendiendo a meditar, respirar y estar presente. ¿Te unes a mi viaje? Juntos descubriremos el yoga, el mindfulness y cómo sentirnos mejor cada día.</p>
<img src="assets/butterfly.png" alt="mai-mariposas" class="mai-mariposas mt-3 mb-2">
    <p class="fs-4" >🌼 Namaste 🌼</p>
  </div>
  </div>
</div>